* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* default style */
    --default-bg: linear-gradient(180deg, hsla(274, 100%, 18%, 1) 0%, hsla(274, 100%, 7%, 1) 100%);
    --default-card-color: #1F0037;
    --default-card-color-hover: #2A0049;

    /* nvidia */
    --nvidia-bg: linear-gradient(180deg, hsla(158, 76%, 16%, 1) 0%, hsla(159, 78%, 7%, 1) 100%);
    --nvidia-card-color: #0A4A33;
    --nvidia-card-color-hover: #0C5A3E;

    /* amd */
    --amd-bg: linear-gradient(180deg, hsla(349, 69%, 25%, 1) 0%, hsl(349, 78%, 7%) 100%);
    --amd-card-color: #6D1425;
    --amd-card-color-hover: #751628;

    /* intel */
    --intel-bg: linear-gradient(0deg, hsla(204, 100%, 5%, 1) 0%, hsla(204, 100%, 21%, 1) 100%);
    --intel-card-color: #003356;
    --intel-card-color-hover: #003A61;

    /* text color */
    --text-color: #eee;
    --text-color-hover: #ffffff;
}

body {
    font-family: 'Inconsolata', serif;
    line-height: 1.5;
    font-size: 1.4rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
    min-height: 100vh;
    background: hsla(204, 100%, 5%, 1);
}

/* top page nav layout */
#header {
    padding: 0.4rem;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #eee;
    font-family: 'Atomic Age', serif;
}

.nav-links {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    height: 50px;
}

.nav-links a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: var(--text-color-hover);
}

.nav-links li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li, a {
    width: 100%;
}

.hamburger-icon {
    display: none;
}

/* MAIN CONTENT */
#main {  
    text-align: center;
}

.index-body {
    background: var(--default-bg);
}

.index-section h3 {
    margin-top: 2rem;
}

/* index buttons */
.btn-nvidia, .btn-amd, .btn-intel {
    border-radius: 3px;
    padding: 0.4rem 1rem !important;
}

.btn-nvidia {
    /* background-color: green; */
    background-color: var(--nvidia-card-color) !important;
}

.btn-amd {
    /* background-color: rgb(139, 0, 0); */
    background-color: var(--amd-card-color) !important;
}

.btn-intel {
    /* background-color: rgb(0, 102, 192); */
    background-color: var(--intel-card-color) !important;
}

/* Nvidia, AMD, and Intel page layout */
.about-topic {
    color: #eee;
    padding: 2rem 0.6rem;
    max-width: 1000px;
    margin: 0 auto;
}

.about-topic p {
    margin-bottom: 1.4rem;
}

.about-topic h1 {
    overflow-x: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    color: #eee;
    transition: 0.2s;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    box-shadow: 4px 4px 10px 0px #eeeeee8d;
}

.grid-item p {
    flex-grow: 2;
}

.grid-item:hover {
    box-shadow: 4px 4px 10px 0px var(--text-color);
    transform: translate(-1px, -1px)
}

/* Modal design */
.modal {
    padding: 1em;
    max-width: 1000px;
    font-size: 2rem;
    margin: auto;
    border-radius: 6px;
    background-color: hsla(0, 0%, 0%, 0.502);
    color: #eee;
    /* scrollbar-color: rgb(0, 147, 0) rgb(0, 0, 0); */
}

.xbtn {
    position: absolute;
    top: 0;
    right: 0;
    background: 0;
    border: 0;
    padding: 0;
    translate: -4% -20%;
    font-size: 5rem;
    transition: 0.2s;
    color: #eee;
}

.xbtn:hover {
    cursor: pointer;
    color: red;
}

.btn-close-modal:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.btn-open-modal {
    margin-top: 1rem;
}

dialog::backdrop {
    background-color: rgba(12, 12, 12, 0.5);
    backdrop-filter: blur(10px);
}

dialog[open] {
    animation: fadein 0.2s ease-in forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;  

}

.info-img {
    width: 100%;
    height: auto;
}

.info-list {
    width: 90%;
    text-align: left;
}

.info-list li {
    margin-bottom: 1.2rem;
}

.info-table {
    margin: 0 1rem;
    overflow-x: auto;

    width: 90%;
}

.info-table caption {
    caption-side: top;
    font-weight: bold;
    padding-top: 1rem;
}

.info-table th, .info-table td {
    border: 1px solid var(--text-color);
    padding: 1rem;
    text-align: center;
    border-radius: 3px;
    font-size: 1.2rem;
}

@keyframes fadein{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

/* footer design */
#footer {
    margin-top: 4rem;

    color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Contact modal */
.contact-modal {
    max-width: 600px;
}

.contact-modal form textarea {
   /* width: 100%; */
   max-width: 530px;
   min-width: 220px;
}

.contact-modal form input:last-child {
    width: 40%;
}

/* Buttons to open modal */
.btn {
    padding: 0.2rem 1rem;

    padding: 1px 10px;
    font-family: 'Inconsolata', serif;
    color: var(--text-color);
    background: transparent;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-size: 1.2rem;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    color: var(--text-color-hover);
    text-shadow: 1px 1px 2px white;
    box-shadow: 1px 1px 2px var(--text-color-hover);
    transform: translate(-1px, -1px)
}

/* Buttons to open links */
.btn-link {
    padding: 0.2rem 1rem;
    padding: 1px 10px;
    color: var(--text-color);
    transition: 0.3s;
}

.btn-link:hover {
    cursor: pointer;
    color: var(--text-color-hover);
    text-shadow: 1px 1px 2px white;
    transform: translate(-1px, -1px)
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* NVIDIA COLOR */
.nvidia-page-body {
    background: var(--nvidia-bg);
}

.nvidia-card {
    background: var(--nvidia-card-color);
}

.nvidia-card:hover {
    background: var(--nvidia-card-color-hover);
}

/* AMD COLOR */
.amd-page-body {
    background: var(--amd-bg);
}

.amd-card {
    background-color: var(--amd-card-color);
}

.amd-card:hover {
    background: var(--amd-card-color-hover);
}
/* INTEL COLOR */
.intel-page-body {
    background: var(--intel-bg);
}

.intel-card {
    background: var(--intel-card-color);
}

.intel-card:hover {
    background: var(--intel-card-color-hover);
}

/* News card color */
.news-page-body {
    background: var(--default-bg);
}

.news-card {
    background: var(--default-card-color);
}

.news-card:hover {
    background: var(--default-card-color-hover);
}

/* Responsive layout */
@media (max-width: 850px) {
    .hideOnMobile {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .sidebar a:hover {
        color: #ffffff;
        background-color: hsla(0, 0%, 0%, 0.5);
        transition: 0.2s;   
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 100%;
    }

    .grid-item {
        border-left: 0;
        border-right: 0;
    }

}
